@charset "utf-8";
/*ヘッダー*/
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  /*margin-top: -78px;*/
}

.inner {
  max-width: 1100px;
  margin:0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 15px 0px;
  color: #777;
}

.contact {
  color: #ffffff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

.contact:hover,.contact a:hover {
  color: #333;
  transition: all 0.3s;
}

main {
  /*position: absolute;
  top: 78px;
  width: 100%;*/
  padding-top: 78px;
}

section {
  padding-top: 50px;
}

section.keyvisual {
  padding-top: 0px;
}

.section-title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}

/*キービジュアル*/
.keyvisual-inner {
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 400px 0px;
  width: 100%;
}

h1 {
  margin-bottom: 30px;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

/*ワークスセクション*/
.work {
  background-color: #e3f2fd;
  padding-top: 50px;
}

.work-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-left {
  flex-basis: 40%;
  text-align: center;
}

.work-left img {
  width: 250px;
}

.work-right {
  flex-basis: 60%;
  text-align: center;
}

.work-title {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 20px;
  text-align: center;
  width: 650px;
}

.work-text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 35px;
}

/*スキルズセクション*/
section.skills {
  padding-bottom: 70px;
}

.skills-contener {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  margin-top: 50px
}

.skills img {
  width: 300px;
  height: 300px;
  opacity:0.7;
  transition: all 0.7s;
}

.skills img:hover {
  opacity:1.0;
}

.skills:not(:nth-child(3n)) {
  margin-right: 100px;
}

.skills:not(:nth-last-child(-n+3)) {
  margin-bottom: 100px;
}

/*.skills:nth-child(3n) {
  margin-right: 0px;
}*/

/*.skills:nth-child(4n) {
  margin-left: 0px;
}*/

/*.skills:nth-last-child(-n+3) {
  margin-bottom: 70px;
}*/

/*
div.skills:first-child {
  margin-left: 0px;
}

div.skills:nth-child(3n+4) {
  margin-left: 0px;
}*/

/*プランセクション*/
section.plan {
  padding-bottom: 50px;
}

table {
  width: 100%;
}

.plan {
  background-color: #d0dfea;
}

.table {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

th,td {
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

th:nth-child(n+2),td {
  border-left: 2px solid #fff;
}

th {
  font-weight: bold;
}

tr:nth-last-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-last-child(even) {
  background-color: #e0efff;
}

tr:first-child {
  background-color: #6ba7eb;
}

/*SNSセクション*/
.sns-nav {
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
}

/*.sns-inner {
  padding-top: 200px;
  padding-bottom: 200px;
}*/

.sns-icons {
  display: flex;
  justify-content: center;
}

.icons {
  width: 185px;
  color: #8c8c8c;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}

.icons:hover {
  background-color: #fff;
}

.icons a {
  color: #8c8c8c;
}

/*フッターセクション*/
footer {
  background-color: #cfd8dc;
}

.footer-inner {
  display: flex;
  justify-content: right;
}

.copy {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin-right: 100px;
}

.openbtn1 {
  display: none;
}

/*ハンバーガーメニュー*/
.openbtn1{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background: #fff;
  cursor: pointer;
  width: 50px;
  height:40px;
  border-radius: 5px;
  border: solid 1px #bcbcbc;
}

/*ボタン内側*/
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 11px;
  height: 3px;
  border-radius: 2px;
  background: #bcbcbc;
  width: 58%;
}

.openbtn1 span:nth-of-type(1) {
  top: 10px;
}

.openbtn1 span:nth-of-type(2) {
  top:19px;
}

.openbtn1 span:nth-of-type(3) {
  top: 29px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn1.active span:nth-of-type(1) {
  top: 14px;
  left: 9px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.openbtn1.active span:nth-of-type(3) {
  top: 26px;
  left: 10px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}

@media screen and (min-width:768px) and ( max-width:1199px) {
  .inner {
    width: 97%;
  }

  /*ヘッダー*/
  .header-nav {
    justify-content: space-between;
    margin: 0 20px;
  }

  /*キービジュアル*/
  .keyvisual-inner {
    background-size: cover;
    padding: 250px 0px;
  }

  /*ワークスセクション*/
  .work-inner {
    display: block;
  }

  section.work {
    padding-bottom: 50px;
  }

  .work-title {
    width: 100%;
  }

  .work-right {
    margin: 0 15px;
  }

  .work-text {
    width: 100%;
  }

  /*スキルズセクション*/
  .skills-contener {
    display: block;
    flex-wrap: nowrap;
  }

  .skills {
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
  }


  .skills:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  /*.skills:nth-child(4n) {
    margin-left: 0px;
  }*/

  .skills:not(:nth-last-child(-n+3)) {
    margin-bottom: 0px;
}

  .skills:nth-of-type(3n) {
    margin-bottom: 80px;
  }

  .skills:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }

  .skills:last-child {
    margin-bottom: 0px;
}

  /*プランセクション*/
  /*table {
    width: 95%;
  }*/
}

@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }

  /*ヘッダー*/
  .contact {
    display: none;
  }

  .openbtn1 {
    display: block;
    float: right;
    line-height: 78px;
    margin-top: 20px;
    margin-right: 10px;
  }

  .header-nav {
    display: block;
    overflow: hidden;
    margin: 0 10px
  }

  /*キービジュアル*/
  .keyvisual-inner {
    background-size: cover;
    padding: 200px 0px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  /*ワークスセクション*/
  section.work {
    padding-bottom: 60px;
  }

  .work-inner {
    display: block;
  }

  .work-title {
    width: 100%;
  }

  .work-right {
    margin: 0 15px;
  }

  .work-text {
    width: 100%;
  }

  /*スキルズセクション*/

  .skills-contener {
    display: block;
    flex-wrap: nowrap;
  }

  .skills {
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  .skills:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .skills:not(:nth-last-child(-n+3)) {
    margin-bottom: 0px;
  }

  .skills:nth-of-type(3n) {
    margin-bottom: 70px;
  }

  /*.skills:nth-child(4n) {
    margin-left: 0px;
  }*/

  .skills:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }

  .skills:last-child {
    margin-bottom: 0px;
}

  /*プランセクション*/
  /*table {
    width: 95%;
  }*/

  th {
    font-size: 14px;
    line-height: 22px;
  }

  td {
    font-size: 12px;
  }

  .sns-nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns-icons {
    display: block;
    margin: 0 15px;
  }

  .icons {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns-inner {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .copy {
    margin-right: 10px;
  }
}