@charset "UTF-8";
/* 回答はここから */
/* Q2の回答はここから */
/*
ul {
  margin: 0 auto;
  width:800px;
}

li {
  display: inline-block;
  width: 200px;
  background-color: #d2b48c;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 10px;
  padding: 10px;
}

li:not(:first-child) {
  margin-left: 60px;
}
*/
ul {
  margin: 0 auto;
  width:800px;
  display: flex;
  justify-content: space-between;
}

li {
  width: 200px;
  background-color: #d2b48c;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
}

li:not(:first-child) {
  margin-left: 60px;
}