@charset "UTF-8";

table {
  width: 100%;
  table-layout: fixed;
  font-size: 16px;
  text-align: center;
}

tr,th,td {
  border: 1px solid #000;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color:#d6fec9;
}

tr:nth-child(even) {
  background-color:#bcbcbc;
}

tr:last-child {
  border-top: 1px solid rgb(255,255,255);
}

th {
  background-color: #319c4a;
  line-height: 26px;
}

td {
  line-height: 22px;
}